body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr; /* El grid izquierdo ocupa 3/4 y el derecho 1/4 */
    height: 100vh;
}

.left-grid {
    background-color: #f0f0f0;
    padding: 20px;
}

.right-grid {
    background-color: #d0d0d0;
    padding: 20px;
}