@font-face {
    font-family: 'DMSans';
    src: url('DMSans-VariableFont_opsz,wght.ttf') format('truetype');
}

body {
    font-family: 'DMSans', sans-serif;
}

#chatBox {
    height: 90vh;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    width: 70%;
}
#userMessage {
    width: 65%;
    padding-right: 32px;
}
#messageBox{
    padding-top: 12px;
}
.message {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;
    color: white;
    background-color: #63cb77;
    text-align: left;
    max-width: 20%;
    margin-left: auto;
}
